<?xml version="1.0" encoding="UTF-8"?>
<!-- <web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"> -->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>servlet.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reset_password</servlet-name>
        <servlet-class>servlet.Reset_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>servlet.profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addComment</servlet-name>
        <servlet-class>servlet.addComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPost</servlet-name>
        <servlet-class>servlet.addPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lock</servlet-name>
        <servlet-class>servlet.Lock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Settings_emailConf</servlet-name>
        <servlet-class>servlet.Settings_emailConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Settings_authenConfig</servlet-name>
        <servlet-class>servlet.Settings_authenConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Settings_generalConfig</servlet-name>
        <servlet-class>servlet.Settings_generalConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Settings_contactConfig</servlet-name>
        <servlet-class>servlet.Settings_contactConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDataUser</servlet-name>
        <servlet-class>servlet.getDataUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatus</servlet-name>
        <servlet-class>servlet.changeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pageLoader</servlet-name>
        <servlet-class>servlet.pageLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPC</servlet-name>
        <servlet-class>servlet.getPC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllUserInCompany</servlet-name>
        <servlet-class>servlet.getAllUserInCompany</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset_password</servlet-name>
        <url-pattern>/Reset_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addComment</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPost</servlet-name>
        <url-pattern>/addPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lock</servlet-name>
        <url-pattern>/Lock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Settings_emailConf</servlet-name>
        <url-pattern>/Settings_emailConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Settings_authenConfig</servlet-name>
        <url-pattern>/Settings_authenConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Settings_generalConfig</servlet-name>
        <url-pattern>/Settings_generalConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Settings_contactConfig</servlet-name>
        <url-pattern>/Settings_contactConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDataUser</servlet-name>
        <url-pattern>/getDataUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatus</servlet-name>
        <url-pattern>/changeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pageLoader</servlet-name>
        <url-pattern>/pageLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPC</servlet-name>
        <url-pattern>/getPC</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            index.html
        </welcome-file>
    </welcome-file-list>
    <dependency>
        <groupId>jstl</groupId>
        <artifactId>jstl</artifactId>
        <version>1.2</version>
    </dependency>
    <dependency>
        <groupId>taglibs</groupId>
        <artifactId>standard</artifactId>
        <version>1.1.2</version>
    </dependency>
    <dependencies>
        <dependency>
            <groupId>mysql</groupId>
            <artifactId>mysql-connector-java</artifactId>
            <version>6.0.2</version>
        </dependency>
        <dependency>
            <groupId>mysql</groupId>
            <artifactId>mysql-connector-java</artifactId>
            <version>6.0.3</version>
        </dependency>
        <dependency>
            <groupId>org.glassfish</groupId>
            <artifactId>javax.json</artifactId>
            <version>1.0.2</version>
        </dependency>
    </dependencies>
    <error-page>
        <error-code>404</error-code>
        <location>/APP/pages/pages-error-404.html</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>getAllUserInCompany</servlet-name>
        <url-pattern>/getAllUserInCompany</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <description>sessionListener</description>
        <listener-class>sessionListener.ApplicationSessionListener</listener-class>
    </listener>
</web-app>
